html {
  background-color: black;
}

body {
  position: absolute;
  width: 100%;
  color: $main_color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../../assets/3d-grunge-brick-wall-texture.jpg");
  background-size: cover;
  background-repeat: initial;
  min-height: 100dvh;
}

.main {
  display: flex;
  flex-grow: 1;
}
