.button {
  box-sizing: border-box;
  background-color: $line-num_area;
  color: $main_color;
  display: block;
  margin-top: 15px;
  border-color: $additional_color;
  transition: all 0.3s;
  height: 25px;

  &:hover {
    background-color: $additional_color;
  }
}

.hist-btn {
  @include media-mobile {
    width: 55px;
    font-size: small;
    margin:  15px auto 0 auto;
  }
}
.enter-btn {
  position: absolute;
  right: 0;
  margin-top: 0;
  box-sizing: border-box;
  margin-right: 10px;
}

.help-btn {
  position: absolute;
  bottom: 0;
  background: none;
  border: none;

  &:hover {
    background-color: transparent;
    color: $additional_color;
  }
}
