body {
    background-image: url(../../assets/3d-grunge-brick-wall-texture.jpg);
    background-size:cover;
    background-repeat:initial;
    height:100vh;
    color: $main_color;
}

.main {
    display: flex;
}