.footer {
  margin: 30px 0 5px 0;
  width: 100%;
  z-index: 1;
}

.footer-wrapper {
  margin: auto;
  box-sizing: border-box;
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rss-logo {
  width: 70px;
}
