.left-column {
    width: 80%;
}

.left-column > * {
    margin: auto;
}

.order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px 20px 20px;
}

.game {
    max-width: 90%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor {
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;

    .css-editor,
    .html-editor {
        width: 48%;
        box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.4);
    }
}



.editor > * {
    width: 50%;
}

.css-title,
.html-title {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    font-size: smaller;
    background-color: $title_area;
}

.code-space {
    display: flex;
}

.line-numbers {
    width: 15%;
    height: 300px;
    background-color: $line-num_area;
}

.html-code-area,
.css-code-area {
    box-sizing: border-box;
    background-color: $code-area_field;
    height: 300px;
    width: 85%;
    padding: 10px 10px;
}

.code-input {
    border: none;
    width: 100%;
    background: none;

    &:focus {
        outline: none;
    }
}
