$footer_backg: rgb(0 0 0 / 30%);
$sidebar_backg: rgb(0 0 0 / 50%);
$main_color: white;
$code-area_field: rgb(255 255 255 / 80%);
$html-area_field: #383838aa;
$title_area: rgb(0 0 0 / 60%);
$line-num_area: rgb(0 0 0 / 40%);
$additional_color: rgb(154 205 50);
$additional_color2: orange;
$code_color: black;
