.button {
    background-color: $line-num_area;
    color: $main_color;
    display: block;
    margin-top: 15px;
    border-color: $additional_color;
    transition: all 0.3s;

    &:hover {
        background-color:  $additional_color;
    }
}

.enter-btn {
    margin-top: 0;
    box-sizing: border-box;
    margin-right: 10px;
}