
.wall {
    min-width: 40% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

circle,
triangle,
square {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.small {
    width: 30px;
    height: 30px;
}

.medium {
    width: 60px;
    height: 60px;
}



circle {
    background-image: url(../../assets/SVG/circle.svg);
}

triangle {
    background-image: url(../../assets/SVG/triangle.svg);
    // &.orange {
    //     background-image: url(../../assets/SVG/triangle_orange.svg);
    // }
}

.orange {
    background-image: url(../../assets/SVG/triangle_orange.svg);
}


square {
    background-image: url(../../assets/SVG/square.svg);
}

#romb {
    transform: rotate(45deg);
}

@keyframes glow { 
    70% {
      opacity: 0.5;
    }
  
    100% {
      opacity: 1;
    }
  }

.glowing {
    animation: glow 1.2s infinite;
}

