.main {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.order-title {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    // text-shadow: (0 0 30px rgba(255, 255, 255, 0.8));
}

.sidebar-title {
    margin: 0 0 20px 0;
}